@font-face {
    font-family: "cus";
    font-weight: 400;
    src: url("./font/font.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

@keyframes card-enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes card-enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes card-leave {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes card-leave {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.container {
    /*background: #f2e6ce;*/
    background: rgb(53, 54, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    animation: card-enter 1s;
    -webkit-animation: card-enter 1s;

    min-width: 600px;
    max-width: 800px;
    min-height: 30px;
    /*color: black;*/
    color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 400;
    font-family: "cus", Arial, sans-serif;
    cursor: pointer;
}

.content:active {
    animation: card-leave 1s;
    -webkit-animation: card-leave 1s;
}

.content-inner {
    text-indent: 2em;
}

.content-origin {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
